*{

    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
   
}

p{
    color: #646464;
}

.top{
background-image: linear-gradient(#122E99,#2370C8);
width: 100%;
height: 500px;


}



.navbar ul li{
    float: left;
    list-style: none;
}


.navbar ul li a{
    text-decoration: none;
    
    font-size: 15px;
    padding-left: 20px;
    color: white;
}


.flex{
    display: flex;
}

.navbar{
    margin-left: 10%;
    padding-top: 20px;

}

.logo{
    width:18%;
    color: white;
}


.menus{
    width: 55%;
}


#search{
    border-radius: 30px;
    width: 180px;
    height: 35px;padding-left: 10px;
    margin-top: -10px;
}

.tcon{
    position: relative;
    top: 80px;
    left: 10%;
    width: 80%;
}

.tcon .banner{
    margin-left: 60px;
    width: 50%;
    margin-top: -30px;
}

.tcon .banner img{
    width: 100%;
    height: 100%;
}

.tcon h1{

    font-Weight:500px;
    font-Size:72px;
    line-height:85px;
    color: white;
    }
    
    
    .tcon p{
        position: relative;
        top: 20px;
        color:#FAFAFA
    }

    

.linkbtn{
    position: relative;
    top: 50px;
    text-decoration: none;
    background-color: #2370C8;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    font-weight: 700px;

}


.service{
    margin-top: 80px;
}



.service .scon{
margin-left: 10%;
margin-right: 10%;
width: 80%;

}

.service .scon p{
    margin-bottom: 20px;
    color: #646464;
}



.icon{
   margin-top: -20px;
   margin-left: 89%;
    
}

.ic{
    border-radius: 50%;
   
    padding:5px 10px;
    margin-left: 10px;
    
}


.scon .txticon .icon a{
    text-decoration: none;

}


#icc{
    background-color: lightgray;
    
}

#icb{
    background-color: #122E99;
    
}

#icc a{
    color: black;
}

#icb a{
    color:white;
}

.boxes{
    margin-top: 50px;
}

.boxes .box{

            
            margin-left: 22px;
}

.box1{

 
    border: 3px solid#2370C8;
    background-color: white;
    width:327px;
    height: auto;
    
}

.box2{
    background-color: #CFEAFF;
    width:327px;
    height: auto;
}

.box3{
    background-color: #CFEAFF;
    width:327px;
    height: auto;
    
}

.circle{
    margin-top: 20px;
    background-color: #85c4f5;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}


.box .circle img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.boxes .box .bcon{
    margin-top: 20px;
    
}

.boxes .box .bcon p{
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 10px 20px;
}

.about .image{
    width: 400px;
    height: 350px;
    background-color: grey;
}

.about .image img{
    width: 100%;
    height: 100%;
    border: 2px solid darkturquoise;
}

.abcon{
    margin-left: 11.5%;
    margin-right: 10%;
    width: 80%;
    margin-top: 150px;
}

.abcon .txt #head{
    padding-bottom: 12px;
    margin-top: 10px;
    color:  #2370C8;
}

.abcon .txt #des{
    padding: 20px 0px;
}

.abcon .txt .linkbtn{
    margin-top: -15px;
}

.linkbtn2{
    position: relative;
    top: 20px;
    text-decoration: none;
    background-color: #2370C8;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    font-weight: 700px;
  


}

#half1{
    width: 40%;
    margin-right: 12%;
}

#half2{
    width: 40%;
    
}



.down{

background-color: #F2F9FF;
width: auto;
height: auto;
margin-top: 150px;
padding: 20px;


}

.dcon{
    margin-left: 10%;
    padding-top: 16px;
    border: 2px solid white;
    margin-top: 82px;
    margin-right: 10%;
  
    margin-bottom: 82px;
    

}
.bcon p{
    color: #646464;
    margin-bottom: 43px;
}

.dcircle{
    margin-top: 20px;
    background-color: #E7E7E7;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.dcircle img{

    width: 100%;
    height: 100%;
    border-radius: 50%;

}









.portfolio{
    margin-top: 180px;
}


.pocon{
    margin-left: 11.5%;   
    margin-right: 11.5%;
}

.pocon .HEAD p{
    color: #2370C8;
}

.pocon .HEAD h1{
    margin-top: 19px;
    margin-bottom: 47px;
}


.pocon .tasks .task{
width: 325px;
height: 243px;

background-color: #E7E7E7;
}

.pocon .tasks{
    display: grid;
    column-gap: 37px;
    row-gap: 41px;
    grid-template-columns: auto auto auto;
}


.picon{

    margin-top: 38px;
}


.pic{
    border-radius: 50%;
   
    padding:5px 10px;
    margin-left: 10px;
    
}


.picon a{
    text-decoration: none;
}













.proffssional{
    background-color: #F2F9FF;
    margin-top: 180px;
}


.pfcon .pfboxes .pfbox{
    width: 316px;
    height: 350px;
    background: #E7E7E7;
}


.pfcon{

    margin-left: 11%;   
    margin-right: 11%;
    padding-bottom: 117px;

}

.pfcon .pfhead {
    text-align: center;
    margin-bottom: 46px;
    
}


.pfcon .pfhead p{
    padding-top: 92px;
    color: #2370C8;
}

.pfcon .pfboxes #ibox2{

    margin-left: 28px;

}


.pfcon .pfboxes .ibox .pfbox img{
    width: 100%;
    height: 100%;
    
}




.pfcon .pfboxes #ibox3{

    margin-left: 49px;

}



.pfcon .pfboxes .ibox .deg{

    width: 260px;

margin-left: 80px;
margin-top: -30px;



box-shadow: 0px 4px 24px rgba(217, 237, 255, 0.8);
text-align: center;
padding-top: 10px;


}


.pfcon .pfboxes .ibox .deg h3{
    color: rgb(3, 3, 14);
}








.plans{
    margin-top: 80px;
}

.plans .pcon{
    margin-left: 10%;
    margin-right: 10%;
}

.plans .pcon .plan{

    width: 333px;
    height:450px;
    
    margin-left: 20px;
    box-shadow: 0px 8px 48px 0px #B9D7EE;

}

.plans .pcon #p2{
    background-color: blue;
    color: white;
}

.plans .pcon #p1,#p3{
    background-color: white;
}


.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 14px;
    
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2370C8;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: -2px;
    bottom: -3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: grey;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ffffff;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }





  .pcon .texttog .tog{
      margin-left:49%;
      margin-top: 5px;
  }

  .pcon p{
      margin-left: 15px;
      margin-bottom: 15px;
  }

  .pcon p.head{
      color: #2370C8;
  }

  .pcon .texttog{
    margin-left: 15px;
    margin-bottom: 20px;
}

.plan h2{
margin-top: 35px;

}


.plan .pcircle img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid darkorchid;
}


.pcircle{
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: #D6EDFF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}


#dollar1{
    font-size: 30px;
    font-weight: 700;
    color:#2370C8;
}

#dollar2{
    font-size: 30px;
    font-weight: 700;
    color:white;
}

#dollar3{
    font-size: 30px;
    font-weight: 700;
    color:#2370C8;
}


#month1{
    font-size: 20px;
    color:black;
}

#month2{
    font-size: 20px;
    color:white;
}

#month3{
    font-size: 20px;
    color:black;
}


.courses{

    margin-top: 15px;

}


.linkbtnw{
    position: relative;
    top: 50px;
    text-decoration: none;
    background-color: white;
    border-radius: 30px;
    padding: 10px 20px;
    color: #2370C8;
    font-weight: 700px;

}









.feedback{

    background: rgba(55, 130, 215, 0.9);
    margin-top: 180px;

}



.fdcon{
    
    margin-left: 11.5%;   
    margin-right: 11.5%;
    padding-top: 132px;
   
   
}


.feedback .fdcon h1{
    text-align: center;
   

    color: #FFFFFF;
}



.feedback .fdcon .fdboxes .fdbox{

background: rgba(55, 130, 215, 0.5);
border: 1px solid #6AB0FF;
width: 659px;
margin-top: 44px;

}


.feedback .fdcon .fdboxes .fdbox{
    margin-left: 30px;
    margin-bottom: 84px;
}

.fdcircle{
    margin-top: 52px;
    margin-bottom: 20px;
    background-color: #D6EDFF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.fdcircle img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.feedback .fdcon h5{
    margin-top: 4px;
    margin-bottom: 19px;
    color: #FFFFFF;
  }
  

.feedback .fdcon h3{
 
  color: #FFFFFF;
}


.feedback .fdcon p{
    
    color: #FFFFFF;
    margin-bottom: 48px;
    padding: 0px 40px;
  }




  .feedback .fdcon .fdboxes{
      
  }









.bcon{
    margin-left: 11.5%;
    margin-right: 10%;
    margin-top: 15px;
}




.bbcon{
    margin-left: 11.5%;
    margin-right: 10%;
    margin-top: 150px;
}

.bbcon #b1{
    background-color: #FFFFFF;
   
}

.bbcon #b2 p{
    color: white;
    text-decoration: none;
   
}
.bbcon #b2 a{
   
    text-decoration: none;
    color: white;
   
}

.blog hr{
    width: 60px;
    color: #2370C8;
    margin-bottom: 10px; 
}

.bbcon #b3 h4{
    color: #2370C8;
}

.bbcon #b3 a{
   
    text-decoration: none;
    color:#2370C8;
    padding-bottom: 30px;
   
}


.bbcon #b1 p.head{
margin-top: 100px;   
color: #2370C8;
}

.search2 input{
    border: 1px solid #2370C8;
    padding-left: 10px;
    width: 200px;
    height: 30px;
}

.bbcon #b1 h2{
    margin-top: 20px;  
   
    }

    .bbcon #b1 p.text{
        margin-bottom: 20px;   
        }

.content{
    margin-top: 25px;
    padding: 0px 20px;

}
.content p{
    margin-top: 15px;
    margin-bottom: 20px;
}
.content h4{
    margin-top: 15px;

}

.bbcon #b2{
    background-color: #3782D7;
    margin-left: 17px;
    color: white;
}




.bbcon #b3{
    background-color: #FFFFFF;
    border: 2px solid #3782D7;
    margin-left: 17px;
}





.blogs .blog{

    height: auto;
    width: 335px;
    background-color:#3782D7 ;

}









.u{
    text-decoration: underline;
}





.footera{
    background-color: #F2F9FF;
  
    
}



.fcon{
    margin-left: 11.50%;
    margin-right: 11.5%;
    margin-top: 80px;
   
}

.one{

    width: 55%;
    margin-top: 55px;
    

}
.one p{
    color: #646464;
}

.one h1{
    color: #2370C8;
}


.fcircle{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #0c8cee;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.fcirclew{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 2px solid #3782D7;
    margin-left: 10px;
}

.two,.three,.four{
    width: 20%;
    margin-left: 9%;
    margin-top: 60px;
}

.one ul li{
    list-style: none;
}

.two ul li{
    list-style: none;
}
.three ul li{
    list-style: none;
}
.four ul li{
    list-style: none;
}


.two ul li a{
    text-decoration: none;
    color: #646464;
}

.three ul li a{
    text-decoration: none;
    color: #646464;
}

.four ul li a{
    text-decoration: none;
    color: #646464;
}


.fcon ul{
    margin-top: 20px;
}

.fcon ul li{
    margin: 10px 0px;
}

.fcon .one p{
    margin-top: 10px;
}

hr{
   
       
        border: none;
        height: 2px;
        background: #7AB8FF;
        margin-bottom: 10px;
     
}



.cpr{
    color: #646464;
    padding-bottom: 10px;
}